.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background: #5A8D3F !important;
    position: relative;
    z-index: 5;
}

.mat-icon{
    color: #F5F5DC !important;
}
span{
    color: #F5F5DC !important;
}